################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PersistentNutrients/bin/Debug
/PersistentNutrients/obj/Debug
